<header>
    <div id="header-wrapper">
        <div class="left-angle" id="header-triangle-foreground-left"></div>
        <div class="left-angle" id="header-triangle-backdrop-left"></div>
        <div class="right-angle" id="header-triangle-foreground-right"></div>
        <div class="right-angle" id="header-triangle-backdrop-right"></div>
        <img src="/ref/logos/logo_white.png">
        <img id="logo-overlay" src="/ref/logos/logo_orange.png">
    </div>
    <nav>
        <ul id="link-list">
            <li>
                <a href="#">Drone Cinematography</a>
            </li>
            <li>
                <a href="#">Lighting</a>
            </li>
            <li>
                <a href="#">Aerial Photography</a>
            </li>
            <li>
                <a href="#">Demo Reel</a>
            </li>
        </ul>
    </nav>
    <div id="url">christopherbernhardt.com</div>
</header>